.issueDetail_container {
    padding: 20px;
}

.issueDetail_icon {
    width: 1em;
    margin-right: 10px;
}

.hl {
    border-top: 1px solid #CBD5E0;
    margin: 1em 0;
}

.invert {
    filter: invert(100%);
    width: 1em;
}