.setting_editIcon {
  width: 1em;
}

.setting {
  padding: 20px;
}

.setting_container_avatar {
  position: relative;
}

.setting_avatar_container {
  max-width: 200px;
}

.setting_avatar {
  padding-bottom: 100%;
}

.hl {
  border-top: 1px solid #CBD5E0;
  margin: 1em 0;
}

.vl {
  border-left: 1px solid #cbd5e0;
  height: auto;
}