@import "../../_color.scss";

.auth_form {
  max-width: 500px;
  padding: 20px;
}
.auth_layout {
  padding: 20px;
}
.auth_form_title {
  margin-bottom: 20px;
}
.auth_input {
  margin: 5px;
}
.input_alert {
  min-height: 1em;
  margin-bottom: 10px;
}
