@import '../../_color.scss';

.auth_form {
    max-width: 500px;
    padding: 30px;
}

.auth_layout {
    padding: 20px;
}

.auth_form_title {
    margin-bottom: 30px;
}

.auth_bottom_link {
    margin-bottom: 20px;
}
