.formInput_textarea {
    margin: 5px;
    height: 7em;
    padding: 0.4em 0;
    resize: none;
    border: 1px solid black;
    outline: none;
}

.formInput_text,
.formInput_title,
.formInput_radio_container {
    margin: 5px 0;
}

.formInput_text {
    border: 1px solid rgb(182, 176, 176);
}
.formInput_radio_layout {
    margin-right: 1em;
}

.formInput_radio {
    width: 0.8em;
    height: 0.8em;
    margin: 0.1em;
}
.mention {
    color: blue;
}

.select_style {
    border: 1px solid rgb(182, 176, 176);
}
