.nav_sidebar {
  font-size: 1.5rem;
  width: 10em;
  padding: 1em;

}

.nav_sidebar_color {
  color: black;
}

.nav_sidebar_link {
  margin-bottom: 1em;

  &:active {
    color: red;
  }
}

.nav_sidebar_link:active {
  color: red;
  ;
}